.post-body {
  padding: 10px 0 0 0;
  .post-text {
    padding: 0 15px;
    p {
      margin: 10px 0;
      font-size: 20px;
    }
    .rtl {
      text-align: right;
    }

    .ltr {
      text-align: left;
    }
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    img {
      // height: 50%;
    }
  }
}
