.right-side-bar {
  div {
    height: 300px;
    border: 1px solid $border;
    grid-area: right-side-bar;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
  }
}

@media (max-width: 1160px) {
  .right-side-bar {
    display: none;
    div {
    }
  }
}
