.social-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 0 15px;
  .likes-count {
    span {
    }
  }

  .share-comment {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .comment-count {
      p {
      }
    }

    .share-count {
      margin-left: 10px;
      p {
      }
    }
  }
}
